<div class="films-category films-category_genres">
  <h2 class="films-category__title">Жанры</h2>
  <div class="films-category__grid">
    <a href="#" class="genre">
      <div class="genre__background genre__background_comedy"></div>
      <div class="genre__emoji">😁</div>
      <h3 class="genre__title">Комедии</h3>
    </a>
    <a href="#" class="genre">
      <div class="genre__background genre__background_dramas"></div>
      <div class="genre__emoji">😭</div>
      <h3 class="genre__title">Драмы</h3>
    </a>
    <a href="#" class="genre">
      <div class="genre__background genre__background_fantasy"></div>
      <div class="genre__emoji">👽</div>
      <h3 class="genre__title">Фантастика</h3>
    </a>
    <a href="#" class="genre">
      <div class="genre__background genre__background_horrors"></div>
      <div class="genre__emoji">👻</div>
      <h3 class="genre__title">Ужасы</h3>
    </a>
  </div>
</div>
