<div class="modal">
  <div class="modal__overlay">
    <div class="modal__content">
      <h2 class="modal__title">Вход</h2>
      <form class="login-form">
        <input type="text" class="main-input login-form__input" placeholder="Логин">
        <input type="text" class="main-input login-form__input" placeholder="Пароль">
        <label class="main-label-checkbox" for="remind">
          <input class="main-checkbox" type="checkbox" id="remind">
          Запомнить
        </label>
        <button class="main-button login-form__button" (click)="onLogin()">Войти</button>
      </form>
    </div>
  </div>
</div>
