<section class="channels">
  <div class="channels__inner">
    <div class="channels-item">
      <div class="channels-item__left">
        <img class="channels-item__image" src="../../assets/img/first-channel.svg" alt="Первый канал">
      </div>
      <div class="channels-item__right">
        <h3 class="channels-item__name">Первый канал</h3>
        <div class="channels-item__program">
          <div class="channel-broadcast channel-broadcast_active">
            <span class="channel-broadcast__time">13:00</span>
            <span class="channel-broadcast__name">Новости (с субтитрами)</span>
          </div>
          <div class="channel-broadcast">
            <span class="channel-broadcast__time">14:00</span>
            <span class="channel-broadcast__name">Давай поженимся</span>
          </div>
          <div class="channel-broadcast">
            <span class="channel-broadcast__time">15:00</span>
            <span class="channel-broadcast__name">Другие новости</span>
          </div>
        </div>
      </div>
    </div>
    <div class="channels-item">
      <div class="channels-item__left">
        <img class="channels-item__image" src="../../assets/img/2x2-channel.svg" alt="2x2">
      </div>
      <div class="channels-item__right">
        <h3 class="channels-item__name">2х2</h3>
        <div class="channels-item__program">
          <div class="channel-broadcast channel-broadcast_active">
            <span class="channel-broadcast__time">13:00</span>
            <span class="channel-broadcast__name">МУЛЬТ ТВ. Сезон 4, 7 серия</span>
          </div>
          <div class="channel-broadcast">
            <span class="channel-broadcast__time">14:00</span>
            <span class="channel-broadcast__name">ПОДОЗРИТЕЛЬНАЯ СОВА. Сезон 7, 7 серия</span>
          </div>
          <div class="channel-broadcast">
            <span class="channel-broadcast__time">15:00</span>
            <span class="channel-broadcast__name">БУРДАШЕВ. Сезон 1, 20 серия</span>
          </div>
        </div>
      </div>
    </div>
    <div class="channels-item">
      <div class="channels-item__left">
        <img class="channels-item__image" src="../../assets/img/rbc-channel.svg" alt="РБК">
      </div>
      <div class="channels-item__right">
        <h3 class="channels-item__name">РБК</h3>
        <div class="channels-item__program">
          <div class="channel-broadcast channel-broadcast_active">
            <span class="channel-broadcast__time">13:00</span>
            <span class="channel-broadcast__name">ДЕНЬ. Горючая смесь: как бороться с суррогатом на АЗС</span>
          </div>
          <div class="channel-broadcast">
            <span class="channel-broadcast__time">14:00</span>
            <span class="channel-broadcast__name">ДЕНЬ. Главные темы</span>
          </div>
          <div class="channel-broadcast">
            <span class="channel-broadcast__time">15:00</span>
            <span class="channel-broadcast__name">Главные новости</span>
          </div>
        </div>
      </div>
    </div>
    <div class="channels-item">
      <div class="channels-item__left">
        <img class="channels-item__image" src="../../assets/img/amedia-channel.svg" alt="Amedia Premium">
      </div>
      <div class="channels-item__right">
        <h3 class="channels-item__name">AMEDIA PREMIUM</h3>
        <div class="channels-item__program">
          <div class="channel-broadcast channel-broadcast_active">
            <span class="channel-broadcast__time">13:00</span>
            <span class="channel-broadcast__name">Клиент всегда мёртв</span>
          </div>
          <div class="channel-broadcast">
            <span class="channel-broadcast__time">14:00</span>
            <span class="channel-broadcast__name">Голодные игры: Сойка-пересмешница. Часть I</span>
          </div>
          <div class="channel-broadcast">
            <span class="channel-broadcast__time">15:00</span>
            <span class="channel-broadcast__name">Секс в большом городе</span>
          </div>
        </div>
      </div>
    </div>
    <div class="channels-item">
      <div class="channels-item__left">
        <img class="channels-item__image" src="../../assets/img/first-channel.svg" alt="Первый канал">
      </div>
      <div class="channels-item__right">
        <h3 class="channels-item__name">Первый канал</h3>
        <div class="channels-item__program">
          <div class="channel-broadcast channel-broadcast_active">
            <span class="channel-broadcast__time">13:00</span>
            <span class="channel-broadcast__name">Новости (с субтитрами)</span>
          </div>
          <div class="channel-broadcast">
            <span class="channel-broadcast__time">14:00</span>
            <span class="channel-broadcast__name">Давай поженимся</span>
          </div>
          <div class="channel-broadcast">
            <span class="channel-broadcast__time">15:00</span>
            <span class="channel-broadcast__name">Другие новости</span>
          </div>
        </div>
      </div>
    </div>
    <div class="channels-item">
      <div class="channels-item__left">
        <img class="channels-item__image" src="../../assets/img/2x2-channel.svg" alt="2x2">
      </div>
      <div class="channels-item__right">
        <h3 class="channels-item__name">2х2</h3>
        <div class="channels-item__program">
          <div class="channel-broadcast channel-broadcast_active">
            <span class="channel-broadcast__time">13:00</span>
            <span class="channel-broadcast__name">МУЛЬТ ТВ. Сезон 4, 7 серия</span>
          </div>
          <div class="channel-broadcast">
            <span class="channel-broadcast__time">14:00</span>
            <span class="channel-broadcast__name">ПОДОЗРИТЕЛЬНАЯ СОВА. Сезон 7, 7 серия</span>
          </div>
          <div class="channel-broadcast">
            <span class="channel-broadcast__time">15:00</span>
            <span class="channel-broadcast__name">БУРДАШЕВ. Сезон 1, 20 серия</span>
          </div>
        </div>
      </div>
    </div>
    <div class="channels-item">
      <div class="channels-item__left">
        <img class="channels-item__image" src="../../assets/img/rbc-channel.svg" alt="РБК">
      </div>
      <div class="channels-item__right">
        <h3 class="channels-item__name">РБК</h3>
        <div class="channels-item__program">
          <div class="channel-broadcast channel-broadcast_active">
            <span class="channel-broadcast__time">13:00</span>
            <span class="channel-broadcast__name">ДЕНЬ. Горючая смесь: как бороться с суррогатом на АЗС</span>
          </div>
          <div class="channel-broadcast">
            <span class="channel-broadcast__time">14:00</span>
            <span class="channel-broadcast__name">ДЕНЬ. Главные темы</span>
          </div>
          <div class="channel-broadcast">
            <span class="channel-broadcast__time">15:00</span>
            <span class="channel-broadcast__name">Главные новости</span>
          </div>
        </div>
      </div>
    </div>
    <div class="channels-item">
      <div class="channels-item__left">
        <img class="channels-item__image" src="../../assets/img/amedia-channel.svg" alt="Amedia Premium">
      </div>
      <div class="channels-item__right">
        <h3 class="channels-item__name">AMEDIA PREMIUM</h3>
        <div class="channels-item__program">
          <div class="channel-broadcast channel-broadcast_active">
            <span class="channel-broadcast__time">13:00</span>
            <span class="channel-broadcast__name">Клиент всегда мёртв</span>
          </div>
          <div class="channel-broadcast">
            <span class="channel-broadcast__time">14:00</span>
            <span class="channel-broadcast__name">Голодные игры: Сойка-пересмешница. Часть I</span>
          </div>
          <div class="channel-broadcast">
            <span class="channel-broadcast__time">15:00</span>
            <span class="channel-broadcast__name">Секс в большом городе</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
