@import "vars.styl"
.main-menu
  display flex
  justify-content center
  align-items center
  margin 12px 0 32px

  &__item
    font-size 28px
    font-weight 500
    margin-left 24px
    padding-bottom 8px
    border-bottom 2px solid transparent

    &_active
      color $main-red
      border-color $main-red
