$main-black = #333333
$main-black-overlay = rgba(51, 51, 51, 0.8)
$main-light-overlay = rgba(51, 51, 51, 0.6)
$main-red = #E5261E
$main-red-hover = #CC221B
$white = #fff
$main-light-gray = #F2F2F2
$main-gray = #BDBDBD
$htc-color = #1F4766

$media-mobile-xs = 'max-width: 320px';
$media-mobile = 'max-width: 768px';
$media-nor-tablet = 'max-width: 767px';
$media-tablet = 'max-width: 1023px';
$media-desktop-xs = 'max-width: 1180px';
